@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
}

.title {
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

.btn {
    display: block;
    border: 0;
    color: white;
    font-weight: bold;
    background-color: #1d293f;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.text-input {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 10px;
    width: 30%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}


.footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #1d293f;
    text-align: center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.footer__copy {
    padding: 60px 0;
    text-align: center;
    color: #fff;
    
}

.footer__copyright {
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
}

.footer__icons {
    margin-bottom: 10px;
    margin-left: 10px;

}

.footer__img {
    width: 30px;
}